DEPLOY_USER=
DEPLOY_HOST=
DEPLOY_PORT=22

# User that owns and runs the app on the server (default: alfredo)
APP_USER=alfredo
# Set to "true" to create the user if it doesn't exist (default: false)
APP_USER_CREATE=false
