HETZNER_API_TOKEN: your-token-here
NAME: myapp
SERVER_TYPE: cpx11
DATACENTER: nbg1-dc3
IMAGE: ubuntu-24.04
MONITORING: true
BACKUPS: true
USERNAME: felix
USER_PASSWORD: "VerY_str0ng%-paSSwoRD!"
AUTHORIZED_SSH_KEYS:
  - ssh-ed25519 your-ssh-public-key-here michael-scott@the-office
HETZNER_SSH_KEYS:
  - ssh-key-name-on-hetzner-backoffice
